# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/WpfLoadDll/DataProvider/obj
/WpfLoadDll/DataProvider/bin/Debug
/.vs
/WpfLoadDll/HelloPlugin/obj
/WpfLoadDll/PluginBase/bin/Debug
/WpfLoadDll/PluginBase/obj
/WpfLoadDll/Plugins
/WpfLoadDll/WpfLoadDll/obj
/WpfLoadDll/WpfLoadDll/bin/Debug
/WpfLoadDll/.vs/WpfLoadDll/v15
